@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zinc-950: #09090b;
}

body {
  background-color: var(--zinc-950);
}

.netback {
  background: linear-gradient(rgba(0, 0, 0, 0.781),
      rgba(0, 0, 0, 0.663)), url('/public/assets/bgImg.jpg');
  background-size: cover;

}

.carousel-bg {
  background: #00000000;
  background: linear-gradient(180deg, #09090b80 20%, var(--zinc-950) 98%);
}


.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.img-loading {

  animation: loading 1s infinite ease-in-out;

}

@keyframes loading {

  0% {
    background-color: rgb(24 24 27);
  }

  50% {
    background-color: rgb(42, 42, 44);
  }

}



.backdrop-clip {
  clip-path: circle(0% at 50% 0);
  animation: backdrop-reveal .2s linear forwards;
}

@keyframes backdrop-reveal {
  0% {
    clip-path: circle(0% at 50% 0);
  }

  100% {
    clip-path: circle(100.0% at 50% 0);
  }
}